           <form name="editCardForm" ng-submit="editCardForm.$valid && submitEditCard()">
                <br>
                <!-- {{ editCardForm.$valid}} -->
                <br>
                <!-- {{ editedCard | json }} -->
                <br>
                <span>Category</span>
                <error-message ng-show="editCardForm.category.$touched && editCardForm.category.$error.required">
                    You need to select a category.
                </error-message>
                <select ng-model="editedCard.category" required name="category">
                    <option value="">--</option>
                    <option value="MongoDB">MongoDB</option>
                    <option value="Express">Express</option>
                    <option value="Angular">Angular</option>
                    <option value="Node">Node</option>
                </select>
                <span>Question</span>
                <error-message ng-show="editCardForm.question.$touched && editCardForm.question.$error.required">
                    Question is a required field.
                </error-message>
                <error-message ng-show="editCardForm.question.$error.minlength">
                    Your question needs to be atleast 15 characters long.
                </error-message>
                <input ng-model="editedCard.question" type="text" ng-minlength="15" required name="question"><br>
                <span>Answer</span>
                <error-message ng-show="editCardForm.Answer1.$error.maxlength">
                    Your answer is too long.
                </error-message>
                <input ng-model="editedCard.answers[0].text" required type="text" ng-maxlength="40" name="Answer1"><br>
                <input ng-model="editedCard.answers[0].correct" type="checkbox" value="Check">This the correct answer<br>
                <span>Answer</span>
                <error-message ng-show="editCardForm.Answer2.$error.maxlength">
                    Your answer is too long.
                </error-message>
                <input ng-model="editedCard.answers[1].text"  required ng-maxlength="40" type="text" name="Answer2"><br>
                <input ng-model="editedCard.answers[1].correct" type="checkbox" value="Check">This the correct answer<br>
                <span>Answer</span>
                <error-message ng-show="editCardForm.Answer3.$error.maxlength">
                    Your answer is too long.
                </error-message>
                <input ng-model="editedCard.answers[2].text"  required ng-maxlength="40" type="text" name="Answer3"><br>
                <input ng-model="editedCard.answers[2].correct" type="checkbox" value="Check">This the correct answer<br>
                <button type="submit" >Submit Card!</button>
            </form>
                <button ng-click="deleteCard()" >Delete Card!</button>
                <button ng-click="cancelEdit()" >Cancel</button>